.container{
    background-color: rgb(255, 246, 246);
    border-radius: 2rem;
    display: flex;
    gap: 4rem;
    height: 30rem;
    margin: 40px auto;
    padding: 4rem;
    width: 50rem; 
} 
.book {
    border: 20px solid black;
    box-shadow: 0 24px 32px -16px rgba(0, 0, 0, 0, 100)
}
.title{
    font-size: 1.75rem;
    color: rgb(2, 0, 8);
}
.texto{
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 2rem;
    color: black;
}
.botao{
    background-color: black;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.75em 1.25em;
    margin-top: 1rem;
    transition: 0.3s;
}
.botao:hover{
    cursor: pointer;
    margin-left: 0.5rem;
    background-color: green;
}